h1{
    font-size: 65px;
    color: orange;
    font-family: Verdana, sans-serif;
    text-decoration: underline;
    font-style: italic;
}

.cor{
    background-color: orchid;
}

p{
    font-weight: 600;
    font-size: 3em;
}

body{
    font-size: 16px;
    text-align: center;
    background-color: skyblue;
}

#amarelo{
    background-color: yellow;
}

#vermelho{
    background-color: red;
}

#marrom{
    background-color: maroon;
}